  {{ define "main" }}
  <div class="home-container">
    <div class="banner">
      <div class="banner-content">
        <div class="left-column">
          <div class="profile-section">
            <div class="profile-image">
              <img src="/images/robot.png" alt="robot" />
            </div>
            <h2>Stijn Balk</h2>
            <p class="role">Engineer</p>
            <p class="company">Freelancer</p>
            <div class="social-links">
              <a
                href="https://www.linkedin.com/in/stijnbalk/"
                class="social-link"
              >
                {{ partial "icons/linkedin.html" . }}
              </a>
              <a href="https://github.com/sbalk" class="social-link">
                {{ partial "icons/github.html" . }}
              </a>
              <a
                href="https://scholar.google.com/citations?user=DjwvupwAAAAJ&hl=en"
                class="social-link"
              >
                {{ partial "icons/google-scholar.html" . }}
              </a>
              <a href="mailto:info@stijnba.lk" class="social-link">
                {{ partial "icons/envelope.html" . }}
              </a>
            </div>
          </div>
        </div>

        <div class="right-column">
          <div class="content-row">
            <div class="about-section">
              <h3>About me</h3>
              <p>
                My name is Stijn, I like emerging technologies that have a lot of
                growth potential. I live in Rotterdam, the Netherlands and in
                Barcelona, Spain.
              </p>
              <p>
                I've worked in quantum computing, brain computer interfaces and
                artificial intelligence which you can see here
                <a
                  href="https://www.linkedin.com/in/stijnbalk/"
                  class="inline-icon-link"
                >
                  {{ partial "icons/linkedin.html" . }} </a
                >. I'm currently working as a freelancer with a preference for
                building MVP's.
              </div>
            <div class="about-section">
              <h3>Hire me</h3>
              <p>
                  Want to quickly have your MVP developed?
              </p>
              <p>
                I specialise in production ready, proof of concept, web based projects and computer and phone applications. I'm mostly interested in projects with the core technology being LLM's, Generative AI and Blockchain technology.  
              </p>
              <p>
              <em>
                Drop me an <a href="mailto:info@stijnba.lk">email</a> for my CV or if you want to talk about a project.
              </em>
              </p>
            </div>
          </div>

          <div class="content-row two-columns">
            <div class="column">
              <h3>Interests</h3>
              <ul>
                <li>Neurotechnology</li>
                <li>Machine learning</li>
                <li>Brain computer interfaces</li>
                <li>Open-source software</li>
                <li>Sailing</li>
                <li>Blockchain technology</li>
                <li>Cybersecurity</li>
                <li>Information sharing</li>
              </ul>
            </div>
            <div class="column">
              <h3>Some projects</h3>
              <ul>
                <li><strong>AI;</strong> Develop SOTA deep fake detection at <a href="https://www.duckduckgoose.ai/">DDG</a>.</li>
                <li><strong>Neurotech;</strong> <a href="https://github.com/Phosphoenix/ViperBoxInterface">ViperBox</a>, a software application for neuroscience researchers to control brain stimulation and read out brain data at <a href="https://www.phosphoenix.nl/">Phosphoenix</a>.</li>
                <li><strong>Finance;</strong> Continuous transaction monitoring and fraud detection at <a href="https://www.mufgemea.com/contact/amsterdam/">MUFG</a>.</li>
                <li><strong>Blockchain;</strong> Decentralized Twitter on <a href="https://polygon.technology/">Polygon</a>.</li>
                <li><strong>Quantum computing;</strong> Master Applied Physics, specializing in making topological qubits at <a href="https://qutech.nl/">QuTech</a>.</li>
                <!-- <li><strong>Frontend;</strong> Several websites: <a href="https://neurotechhub.org/">neurotechhub</a>, <a href="https://oseaspaces.com/">oseaspaces</a>.</li> -->
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
